.main-header {
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 250px;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.logo {
    width: 200px;
}

main {
    padding-left: 100px;
    padding-right: 80px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.credit {
    color: rgb(119, 119, 119);
    font-size: 20px;
    margin: 0;
}